<ion-content>
    <div class="m-background">
        <div class="m-header m-header-color">
            <ion-label class="m-label">Let's get you signed in!</ion-label>
        </div>
        <ion-segment class="m-segment spacing-large" value="custom">
            <ion-segment-button value="custom">
                <ion-label>Sign In</ion-label>
            </ion-segment-button>
            <ion-segment-button value="segment">
                <ion-label>Register</ion-label>
            </ion-segment-button>
        </ion-segment>

        <!-- Form -->
        <div class="m-form">
            <div class="input-box">
                <input type="email" required>
                <label>Email</label>
            </div>
            <div class="input-box">
                <input type="password" required>
                <label>Password</label>
            </div>
        </div>
    </div>
</ion-content>