<ion-content [fullscreen]="true">
    <div class="bg-content">
        <ion-img class="img-splash" src="https://static.vecteezy.com/system/resources/previews/015/082/038/original/paper-coffee-cup-png.png"></ion-img>
        <ion-label class="m-label center label-welcome">Welcome to</ion-label><br>
        <ion-label class="m-label center label-name">Cavosh</ion-label>
        <ion-button class="m-button splash-button" expand="block" fill="clear">
            Get Started
        </ion-button>
    </div>
</ion-content>